 {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <title>Profile</title>
</head>
<body >
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #F57C00">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}"><img src="https://img2.freepng.ru/20230821/cre/transparent-shawarma-64e374e14b33d3.335201741692628193308.jpg" style="width: 180px;"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#" style="color: #0a0a0a">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: #0a0a0a">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: #0a0a0a">Pricing</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #0a0a0a">
                Dropdown link
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#" style="color: #0a0a0a">Action</a></li>
                <li><a class="dropdown-item" href="#" style="color: #0a0a0a">Another action</a></li>
                <li><a class="dropdown-item" href="#" style="color: #0a0a0a">Something else here</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container mt-5 d-flex justify-content-center" >

                <div class="card p-3">

                    <div class="d-flex align-items-center">

                        <div class="image">
                    <img src="https://kartinki.pics/uploads/posts/2022-02/thumbs/1645062712_32-kartinkin-net-p-kartinki-dlya-profilya-34.jpg" class="rounded" width="155" >
                    </div>

                    <div class="ml-3 w-100">

                       <h4 class="mb-0 mt-0">{{ user.username }}</h4>

                       <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">

                        <div class="d-flex flex-column">
                            {% for i in my_objects %}
                            <span class="articles" style="color: #FFFFFF">Количество рецептотв</span>
                            <span class="number1">{{i.id}}</span>
                            {% endfor %}

                        </div>

                        <div class="d-flex flex-column">

                            <span class="followers" style="color: #FFFFFF">Followers</span>
                            <span class="number2">980</span>

                        </div>


                        <div class="d-flex flex-column">

                            <span class="rating" style="color: #FFFFFF">Rating</span>
                            <span class="number3">8.9</span>

                        </div>

                       </div>


                       <div class="button mt-2 d-flex flex-row align-items-center">

                        <button class="btn btn-sm btn-outline-primary w-100" onclick="location.href='{% url 'add_recipe' %}'">Добавить рецепт</button>
                        <button class="btn btn-sm btn-primary w-100 ml-2"  onclick="location.href='{% url 'logout' %}?next=/static/profile'">Logout</button>


                       </div>


                    </div>


                    </div>

                </div>

             </div>

</body>
</html>
